<div class="result-wrapper"><span><strong>@{{user}}</strong> {{'result-rajoy-quotes.description' | translate}}</span>
    <img class="mariano-image" src="../../../../assets/images/mariano.jpg">
    <span>{{quote}}</span>
</div>