<div class="result-wrapper">
    <span><strong>@{{user}}</strong> {{'result-animal-crossing.description' | translate }} <strong>{{villager.name}}</strong></span>
    <img [src]="villager.img">
    <span class="description">{{villager.description}}</span>
</div>