.result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -27px;
}

.description {
    font-size: 10px;
    line-height: 11px;
    text-align: center;
}