<div class="pokemon-result">
    <span><strong>@{{user}}</strong> {{'result-pokemon.description' | translate }}</span>
    <img class="pokemon-image" *ngIf="!pokemonExist" src="../../../../assets/images/loading.gif">
    <div *ngIf="pokemonExist" class="pokemon-request">

        <img class="pokemon-image" id="pokemon-img" *ngIf="pokemonBase64" [src]="pokemonBase64">
        <span class="pokemon-name">{{pokemonName}}</span>
        <span class="pokedex">{{'result-pokemon.pokedex' | translate }} {{pokemonNumber}}</span>

    </div>

    <canvas id="my-canvas" ></canvas>
</div>