.pokemon-result, .pokemon-request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-image {
    max-width: 75%;
    max-height: 223px;
}

.pokemon-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 8px;
}

.pokedex {
    font-size: 8px;
    margin-top: -4px;
    color: gray;
    font-style: italic;
}

.error {
    width: 100%;
    overflow: scroll;
    font-size: 8px;
}

#my-canvas {
    display: none;
}