<div class="card-wrapper" (click)="redirectTo()">
   
    <div class="card-body">
        <span class="title text">{{ tag.title | translate}}</span>
    </div>
    <img class="card-header-image" [src]="tag.header">
</div>