.card-wrapper {
    width: 150px;
    height: 90px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.card-header-image {
    width: 150px;
    overflow: hidden;
    height: 90px;
    display: block;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}

.card-body {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}
.text {
    width: fit-content;
    text-align: center;
}

.platform {
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    color: #7d7d7d;
    height: 14px;
}

.title {
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #000000ad;
    border-radius: 4px;
    padding: 4px;
    /* border: 1px solid black; */
    text-shadow: 0px 0px #2a2828;
}

.description {
    font-size: 10px;
    font-weight: 100;
    color: #505050;
}