<div id="app-wrapper">
    <div #mainCard id="main-card">
        <span class="home-title">{{titleString  | translate}}</span>
        <router-outlet></router-outlet>
        <span class="credits">{{'credits' | translate}}</span>
    </div>
    <div class="buttons-container" *ngIf="showButtons">
        <button class="button download-button" type="button" *ngIf="!showIphoneError"
            (click)="captureCanvas()">{{'home.download-button' | translate}} </button>
        <button class="button go-home-button" type="button" (click)="goHome()">
            {{'home.go-home-button' | translate}}</button>
    </div>
    <span class="iphone-problem" *ngIf="showIphoneError">{{'home.iphone-problem' | translate}}</span>

    <app-google-adsense></app-google-adsense>
    
</div>


<div id="wallpaper"></div>

<div id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>

