#app-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    flex-direction: column;
}

#wallpaper{
    background: url('../assets/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#main-card {
    max-width: 75%;
    background: #fff;
    border-radius: 4px;
    height: auto;
    border: 1px solid #0000004d;
    overflow: hidden;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;
    z-index: 2;
}

@media (max-width: 576px) {
#main-card {
}
}


.home-title {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
}

#download {
    display: none;
  }

  .button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    background-color: #002deb;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.4s;
    z-index: 4;
}

.buttons-container {
    z-index: 3;
    margin-top: 16px;
}

.download-button {
    background-color: #259b03;
}

.go-home-button {
    background-color: #52604e;
}

.button:active, .button:focus {
    outline: none;
    border: none;
}

.button:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .go-home-button:hover {
      background-color: #242723;
  }  
  .download-button:hover {
      background-color: #1a4c0c;
  }

  .credits{
    bottom: -1px;
    position: absolute;
    z-index: 4;
    right: 8px;
    color: #818186;
    font-size: 8px;
    font-weight: 700;
  }

  .iphone-problem{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 8px;
    opacity: 0.8;
    margin-top: 8px;
  }