.get-data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.get-data-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    background-color: #002deb;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.4s;
    z-index: 4;
}

.get-data-button:active, .get-data-button:focus {
    outline: none;
    border: none;
}

.get-data-button:hover {
    background-color: #3f61f0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .error {
    font-size: 8px;
    color: red;
    margin-top: -18px;
  }