
<div class="get-data-wrapper">
<mat-form-field appearance="outline" floatLabel="always">
    <mat-label>{{'get-data.input-user-label' | translate}}</mat-label>
    <input matInput placeholder="{{'get-data.input-user-placeholder' | translate}}" #userName>
    <mat-icon matPrefix>account_circle</mat-icon>
  </mat-form-field>
  <span class="error" *ngIf="errorEmpty">{{'get-data.error.empty' | translate}}</span>
  
  <button class="get-data-button" type="button" (click)="calculateResult(userName.value)">{{'get-data.button-send' | translate}}</button>
</div>