.home-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home-button {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, #eab49b, #e3a09d, #d290a5, #b685ac, #907eb0, #907eb0, #907eb0, #907eb0, #b685ac, #d290a5, #e3a09d, #eab49b);
    background-position: -500px 0;
    background-size: 200% 50px;
    border-radius: 50px;
    text-decoration: none;
    border: none;
    margin-bottom: 24px;
    transition: 0.3s;
}

.home-button:hover {
    background-position: 0px 0;
    background-size: 200% 50px;
    font-weight: bold;
}

.home-button:active {
    outline: none;
    border: none;
}