<p>results works!</p>
<div class="canvas-wrapper">
    <canvas class="canvas-result" ngChartjs [datasets]="lineChartData" [labels]="lineChartLabels"
        [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"
        [inlinePlugins]="inlinePlugin" [colors]="colors">
    </canvas>
</div>