<mat-form-field appearance="legacy" floatLabel="always">
  <mat-label>Legacy form field</mat-label>
  <input matInput placeholder="Placeholder" #userName>
  <mat-icon matPrefix>home</mat-icon>
</mat-form-field>

<button type="button" (click)="calculateResult(userName.value)">CALCULAR</button>