.end-of-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #bfffda;
}

span {
    font-size: 16px;
    text-align: center;
}

.text-date {
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 0px;
    letter-spacing: 3px;
    text-transform: uppercase;
}