/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
}
html, body { height: 100%; }
body { padding:0;
    margin:0; font-family: Roboto, "Helvetica Neue", sans-serif; }
